@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot?k6b09a");
  src: url("../fonts/icomoon/icomoon.eot?k6b09a#iefix") format("embedded-opentype"),
    url("../fonts/icomoon/icomoon.ttf?k6b09a") format("truetype"),
    url("../fonts/icomoon/icomoon.woff?k6b09a") format("woff"),
    url("../fonts/icomoon/icomoon.svg?k6b09a#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-animal-paw-print:before {
  content: "\e900";
}